/** FONTS**/
@import url("https://fonts.googleapis.com/css2?family=Glory:wght@100;300;400;500&display=swap");

/** VARIABLES **/
$primary-font: "Glory", sans-serif;
$light-color: #f6f6f6;
$font-color: #4f555a;
$blue-color: #4461f2;

/** GENERAL SETTINGS **/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 18px;
}

body {
  font-family: $primary-font;
  color: $font-color;
  background-color: $light-color;
}

ul {
  list-style: none;
}

a,
link {
  text-decoration: none;
}

input {
  width: 300px;
  padding: 10px;
  border: none;
  outline: none;
  border-radius: 5px;
  background-color: #d5e2f2;
}

button {
  width: 200px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: $blue-color;
  color: #fff;
  cursor: pointer;

  &:hover {
    background-color: #687ff2;
  }
}

::-webkit-scrollbar {
  width: 4px;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #cecaca;
}

::-webkit-scrollbar-track {
  background-color: #fff;
}

.container {
  max-width: 114rem;
  margin: 0 200px;
}

.main-container {
  width: 70rem;
  margin: 20px 20px;
}

.logo {
  color: $blue-color;
}

/** HEADER**/
.main-header {
  height: 150px;
  margin-bottom: 50px;

  .container {
    .navbar {
      height: 150px;
      display: flex;
      align-items: center;
      justify-content: space-between;

      .navbar-list {
        .register {
          box-shadow: 4px 4px #e5e5e5;
          border: 1px solid #fff;
          border-radius: 20px;
          font-weight: 700;
          color: $blue-color;
          background-color: #fff;
          padding: 10px 20px;
          margin-left: 50px;
        }

        .signin {
          margin-left: 50px;
          font-weight: 700;
          color: $blue-color;
        }

        select {
          background-color: transparent;
          border: none;
          cursor: pointer;
          font-weight: 700;
          font-size: 16px;
          font-family: $primary-font;
        }
      }
    }
  }
}

/**LOGIN**/
.login-container {
  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .text-content {
      max-width: 300px;
      h1 {
        margin-bottom: 50px;
        color: #000000;
      }

      p {
        font-weight: 700;
        .link {
          color: $blue-color;
        }
      }
    }

    .form {
      display: flex;
      flex-direction: column;
      height: 300px;
      width: 300px;

      .primary-input {
        margin-bottom: 15px;
      }

      .primary-button {
        width: 300px;
      }

      .recover {
        text-align: start;
        margin: 10px 0;
        color: #c7c7c7;
        font-size: 15px;
      }
    }
  }
}

/**REGISTER**/
.register-container {
  .container {
    display: flex;
    align-items: center;
    justify-content: space-around;

    .register-form {
      display: flex;
      align-items: center;
      flex-direction: column;

      .register-input {
        margin-bottom: 15px;
        width: 400px;
      }

      .primary-button {
        width: 400px;
      }
    }
  }
}

/**LEFT NAVİGATİON MENU**/
.left-navigation-menu {
  width: 200px;
  height: 700px;
  border-radius: 10px;
  margin: 10px;
  background-color: #fff;

  .navigation-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;

    .navigation-logo-title {
      color: blue;
    }
  }

  .navigation-menu-list {
    padding: 10px 0;

    .navigation-menu-list-item {
      display: flex;
      align-items: center;
      height: 50px;
      padding-left: 15px;
      font-size: 20px;
      font-weight: 550;

      .list-icon {
        margin-right: 5px;
      }

      &:hover {
        background-color: $blue-color;
        color: #fff;
        cursor: pointer;
      }
    }
  }
}

/**SEARCH HEADER**/
.search-header {
  width: 75rem;
  margin: 10px 10px 10px 0;
  height: 100px;
  border-radius: 10px;
  background-color: #fff;

  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;

  .search-input {
    background-color: $light-color;
    padding: 10px 35px;
  }

  .search-svg {
    position: relative;
    right: 290px;
    top: 5px;
  }
}

/**HOME**/
.wrapper {
  display: flex;
  height: 100vh;
  width: 100%;

  .dashboard-main-container {
    width: 75rem;
    height: 590px;
    padding: 20px;

    .time-section {
      width: fit-content;
    }
  }
}

/**DASHBOARD**/
.dashboard-list-container {
  display: flex;
  margin: 20px 0;

  .list-box {
    width: 37rem;
    height: 485px;
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    margin-right: 10px;
  }
}

/**LIST**/
.list-main-container {
  .list-container {
    margin: 10px;
    background-color: #fff;
    border-radius: 10px;
    padding: 10px;
    .list {
      max-height: 400px;
      overflow: auto;

      .list-item {
        border: 1px solid #f1f1f1;
        border-radius: 5px;
        padding: 10px;
        margin-bottom: 5px;
        font-size: 20px;
        margin: 10px;

        display: flex;
        align-items: center;

        &:hover {
          background-color: $blue-color;
          color: #fff;
          cursor: pointer;
        }

        .folder-icons {
          margin-right: 5px;
        }
      }
    }
  }
}
